<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @company.companyname %>
</p>

<p>
  <strong>Companydesc:</strong>
  <%= @company.companydesc %>
</p>

<p>
  <strong>User:</strong>
  <%= @company.user_id %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
